# this file contains package requirements list for linux/windows PC only with CPU support

--extra-index-url https://download.pytorch.org/whl/cu118

numpy
opencv-python
onnx==1.14.0
insightface
psutil
tk==0.1.0
customtkinter
pillow
protobuf>=4.24.1
tqdm
gfpgan
tensorflow
future
colorama
sympy
torch
new-basicsr
torchvision==0.19.1
onnxruntime
pytest
pyvirtualcam
pathvalidate
pygame
moviepy
python-vlc